body {
  background-color: rgba(168, 13, 207, 0.116);
}

main {
  background-color: rgba(103, 16, 216, 0.842);
  border-radius: 10px;
  margin: 0 256px;
}

img {
  max-width: 500px;
  max-height: 250px;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: rgba(103, 16, 216, 0.842);
  font-family: "Fira Sans", sans-serif;
  font-size: 72px;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-left: 20px;
}

p {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0 32px;
}

span {
  font-weight: bolder;
}

.yel {
  color: yellow;
  font-weight: 600;
}

.yell {
  background-color: rgba(245, 245, 92, 0.795);
  color: black;
}

#first{
  color: rgb(255, 255, 255);
  font-family: "Fira Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-left: 20px;
  padding-top: 56px;
}